<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test" parallel="none">
	<test name="demoBlazeTest-google">
	<parameter name="browser" value="Chrome"/>
		<classes>
			<class name="runner.testRunner"></class>
		</classes>
	</test>
	<test name="demoBlazeTest-microsoft">
	<parameter name="browser" value="Edge" />
	<classes>
			<class name="runner.testRunner"></class>
		</classes>
	</test>
	
	<!--  <test name="demoBlazeTest-mozilla">
	<parameter name="browser" value="Firefox" />
	<classes>
			<class name="stepDefinition.stepDefinitionClass"></class>
		</classes>
	</test> -->
</suite>
